---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) =>
		b.data.publication_date.valueOf() - a.data.publication_date.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Blog</h1>
			<section>
				<ul style="display: flex; flex-direction: column; gap: 1rem;">
					{
						posts.map((post) => (
							<li>
								<h4 style="display: inline-block; margin: 0;">
									<a
										href={`/${post.slug}/`}
										style="display: inline-block;"
									>
										{post.data.title}
									</a>
								</h4>
								<span>
									-
									<FormattedDate
										date={post.data.publication_date}
									/>
								</span>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
